.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 100%;
}

.main-container {
  display: flex;
  width: 80%;
  box-shadow: 0 0 35px rgb(0 0 0 / 10%);
  background: #fff;
  font-family: "Open Sans", sans-serif;
  max-width: 1120px;
}

h2 {
  text-align: center;
  margin: 0 0 40px;
  font-size: 25px;
  font-weight: 400;
  color: #040404;
}

.item-form {
  margin-bottom: 25px;
  justify-content: space-between;
  border: 1px solid transparent;
  background: #fff;
  box-shadow: 0 0 5px rgb(0 0 0 / 20%);
  padding: 12px 15px 12px 20px;
  display: flex;
  width: 80%;
}

input {
  font-size: 16px;
  font-weight: 400;
  border: none;
  display: flex;
  justify-content: space-between;
  height: 30px;
  outline: none;
}

.sign-in-form-container,
.social-form-container {
  flex-direction: column;
}

.sign-in-form-container {
  display: flex;
  width: 40%;
  height: 100%;
  padding: 60px;
  align-items: center;
}

.item-checkbox {
  display: flex;
  align-items: center;
  width: 89%;
  margin-bottom: 25px;
}

.mat-elevation-z2 {
  display: flex;
  justify-content: center;
}

p {
  display: flex;
  color: #535353;
  padding-top: 10px;
  padding-left: 10px;
  flex-grow: 1;
  font-size: 16px;
  font-weight: 400;
}

.login-green {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  cursor: pointer;
  border: none;
  font-size: 17px;
  background: #15d0ad;
  font-weight: 500;
  color: #fff;
  border-radius: 3px;
  flex-direction: column;
  margin-bottom: 25px;
  width: 89%;
}

.paragraph-bottom {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  align-items: center;
}

a {
  text-decoration: none;
  color: #535353;
  padding-left: 3px;
}

.social-form-container {
  background-image: url(../../../app/users/register/img-21.jpg);
  width: 50%;
  position: relative;
  background-size: cover;
  height: 664px;
}

.login-form {
  position: absolute;
  top: 40%;
  display: inline-block;
  left: 0;
  margin-bottom: 0;
}

.login,
.register {
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0 50px 50px 0;
  width: 100px;
  line-height: 45px;
  font-size: 12px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.login {
  background: rgb(102 102 102 / 31%);
  color: #fff;
}

.register {
  color: #535353;
  background-color: #fff;
}

.social-form-list {
  bottom: 20px;
  position: absolute;
  right: 0;
  padding: 0;
  margin: 0;
}

.social-form-list li a {
  cursor: pointer;
  width: 60px;
  height: 50px;
  line-height: 50px;
  margin-bottom: 5px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  color: #fff;
  border-radius: 50px 0 0 50px;
  background: rgb(102 102 102 / 31%);
}

ul li {
  list-style: none;
}
ul li a.facebook-blue-dark:hover {
  background-color: #0d6efd;
}

ul li a.facebook-blue-light:hover {
  background-color: #0dcaf0;
}

ul li a.facebook-red:hover {
  background-color: #dc3545;
}

ul li a.facebook-blue:hover {
  background-color: #3578bc;
}

ul li a.facebook-dark-red:hover {
  background-color: #8f111d;
}

.logo {
  position: relative;
}

img {
  height: 25px;
  position: absolute;
  top: 30px;
  right: 30px;
}
