<div class="container">
  <div class="main-container">
    <div class="sign-in-form-container">
      <h2>Sign Into Your Account</h2>
      <div class="item-form">
        <input matInput type="text" name="name" placeholder="Full Name" />
        <mat-icon matSuffix>perm_identity</mat-icon>
      </div>
      <div class="item-form">
        <input matInput type="text" name="email" placeholder="Email Adress" />
        <mat-icon matSuffix>mail_outline</mat-icon>
      </div>
      <div class="item-form">
        <input matInput type="text" name="paswword" placeholder="Password" />
        <mat-icon matSuffix>lock_outline</mat-icon>
      </div>
      <div class="item-form">
        <input MatInput type="checkbox" />
        <p>I agree to the terms of service</p>
      </div>
      <button mat-flat-button>Login</button>
      <div class="paragraph-bottom">
        <p class="paragraph">
          Dont have an account?<a href="register-21.html">Login here</a>
        </p>
      </div>
    </div>
    <div class="social-form-container">
      <div class="login-form">
        <mat-chip-list>
          <mat-chip>Login</mat-chip>
          <mat-chip>Register</mat-chip>
        </mat-chip-list>
      </div>
      <div class="social-form-list">
        <mat-chip
          ><a href="" class="facebook"><i class="fab fa-facebook"></i></a
        ></mat-chip>
        <mat-chip
          ><a href="" class="facebook"><i class="fab fa-twitter"></i></a
        ></mat-chip>
        <mat-chip
          ><a href="" class="facebook"><i class="fab fa-google"></i></a
        ></mat-chip>
        <mat-chip
          ><a href="" class="facebook"><i class="fab fa-linkedin"></i></a
        ></mat-chip>
        <mat-chip
          ><a href="" class="facebook"><i class="fab fa-pinterest"></i></a
        ></mat-chip>
      </div>
    </div>
  </div>
</div>
